header
    nav
        display: flex
        padding-left: 10% 
        div
            display: flex
            background: $color-div
            justify-content: center
            align-items: center
            height: 15vh
            margin: 2% 1%
            +border-radius(5px)
            width: 15%
            &:hover
                background: #512DA8
                cursor: pointer
            a
                text-decoration: none
                &:hover
                    color: white