<div class="container">
    <div class="row">
        <form class="col s6 offset-s3" style="margin-top:10%;box-shadow: 0px 0px 1px 1px grey;">

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" ng-model="$ctrl.email">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-bottom:3%;">Registrarse
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
</div>