<section class="spotify-player">
    <div class="search">
        <form ng-submit="$ctrl.search()">
        <input ng-model="$ctrl.song_name"><button>Search track</button>
        <form>
    </div>
    <div class="player" ng-if="$ctrl.playlist">
        <div class="results">
            <a ng-click="$ctrl.play(song)" ng-repeat="song in $ctrl.playlist" class="song">
                <span class="title">{{song.name}}</span>
                <span>{{$ctrl.milliseconds( song.duration_ms ) }}</span>
                <span>{{song.artists[0].name}}</span>
            </a>
        </div>
        <div class="song-detail">
            <div class="header">
                <img ng-src="{{$ctrl.song.album.images[2].url}}"/>
                <span class="title">{{$ctrl.song.name}}</span>
                <span>Duration: {{$ctrl.milliseconds($ctrl.song.duration_ms) }}</span>
                <span>Popularity: {{$ctrl.song.popularity}}</span>
                <span>Album: {{$ctrl.song.album.name}}</span>
                <span>{{$ctrl.song.artists[0].name}}</span>
                <a target="_blank" ng-href="{{ $ctrl.song.external_urls.spotify}}">Abrir en Spotify</a>
            </div>
        </div>
    </div>
</section>